@using PatriaTerram.Core.Helpers
@using PatriaTerram.Core
@model PatriaTerram.Core.Models.Palette

@{
    ViewBag.Title = "Patria Terram";
}

<div class="map-container">
    <table>
        @for (int i = 0; i < Model.Width; i++)
        {
            <tr>
                @for (int j = 0; j < Model.Height; j++)
                {
                    <td>
                        @Html.Partial("PalettePoint", Model[i, j])
                    </td>
                }
            </tr>
        }
    </table>
</div>

<div>
    <div>
        <div class="layer-button" onclick="showItems('.map-cell-item-value')">Show Values</div>
        <div class="layer-button" onclick="hideItems('.map-cell-item-value')">Hide Values</div>
    </div>
    <div>
        Terrains:

        @foreach (var item in PatriaTerram.Core.Configurations.Configs.Terrains)
        {
            <div class="layer-button" onclick="selectTerain('@item.Key')">@item.Key</div>
        }

        <div class="layer-button" onclick="selectTerain('result')">Result terrains </div>
        @*<div class="layer-button" onclick="showItems('.map-cell-item')">Show all terrains</div>
            <div class="layer-button" onclick="hideItems('.map-cell-item')">Hide all terrains</div>*@
    </div>
    <div>
        Conditions:

        @foreach (var item in PatriaTerram.Core.Configurations.Configs.Terrains)
        {
            <div class="layer-button" onclick="selectBuildingConditions('@Constants.TownHall', '@item.Key')">@item.Key condition</div>
        }

        <div class="layer-button" onclick="selectBuildingConditions('@Constants.TownHall', 'result')">Result condition</div>

        @*<div class="layer-button" onclick="showItems('.@Constants.TownHall-building-conditions')">Show Conditions</div>
        <div class="layer-button" onclick="hideItems('.@Constants.TownHall-building-conditions')">Hide Conditions</div>*@

    </div>
</div>

<script>

    function hideItems(selector) {
        $(selector).addClass("hidden-cell-item")
    }

    function showItems(selector) {
        $(selector).removeClass("hidden-cell-item")
    }

    function selectTerain(name) {
        hideItems('.map-cell-item');

        $(".terrain." + name).removeClass("hidden-cell-item")
    }

    function selectBuildingConditions(buildingType, terrain) {
        debugger;
        hideItems('.map-cell-item');


        var showSelector = '.building-condition.' + buildingType + '.' + terrain;

        var ff = $(showSelector)

        $(showSelector).removeClass("hidden-cell-item")
    }

</script>





