@using PatriaTerram.Core.Helpers
@model PatriaTerram.Core.Models.PalettePoint

<div class="map-cell">
    @foreach (var terrain in Model.Terrains.Values)
    {
        <div class="map-cell-item terrain @terrain.Terrain.Name" style='background-color: rgb(@terrain.Color.R, @terrain.Color.G, @terrain.Color.B);'>
            <div class="map-cell-item-value">@terrain.Value</div>
        </div>
    }

    @foreach (var condition in Model.BuildingConditions.Values)
    {
        <div class="@condition.BuildingType-building-condition-container">
            @foreach (var item in condition.TerrainConditionValues)
            {
                var color = (int)((item.Value / (ViewBag.maxConditions[item.Key] * 1.0)) * 250);

                <div class="map-cell-item building-condition @condition.BuildingType @item.Key" style='background-color: rgb(@color, 0, 0 );'>
                    <div class="map-cell-item-value">
                        @item.Value
                    </div>
                </div>
            }
        </div>
    }
</div>